parameters:
    level: 0
    paths:
        - chandler/
        - bin/
        - install/
    tmpDir: tmp/phpstan
    bootstrapFiles:
        - stubs/tr.php
    scanFiles:
        - chandler/Bootstrap.php
    excludePaths:
        - chandler/bindata/*
